.titleBar {
  background-color: rgb(120, 192, 120);
  height: 7em;
  color: #6d5050;
}
.content {
  margin: auto;
  background-color: #efefef;
  border: solid 1px #cccaca;
}

.jumbotron {
  text-align: center;
  margin-top: 10%;
  color: #6d5050;
}

.titleIcon {
  color: #d0021b;
  margin: auto;
}

.editIcon {
  color: rgb(120, 192, 120);
  cursor: pointer;
}
.deleteIcon {
  color: #d0021b;
  cursor: pointer;
}

.tableIcons {
  display: flex;
  justify-content: space-around;
}

.formContainer {
  margin-top: 5%;
}

.mainNav {
  margin-top: 1em;
  margin-bottom: 2em;
}

a {
  text-decoration: none;
  color: #d0021b;
}

.selected {
  font-weight: bold;
}

.underline {
  border-bottom: solid 1px lightgray;
}

.addForm {
  margin: auto;
  background-color: #efefef;
  border: solid 1px #cccaca;
  border-radius: 10px;
}
.modalForm {
  width: 100%;
}

.dashTable {
  margin: auto;
  background-color: #efefef;
  border: solid 1px #cccaca;
  border-radius: 10px;
  margin-bottom: 1em;
}

.formTitle {
  margin-top: 1em;
}

.formButton {
  margin-bottom: 1em;
}

.siteText {
  color: #6d5050;
}

html {
  font-size: 0.7rem;
  color: #6d5050;
}

.marginAuto {
  margin: auto;
}
/* Extra Small Devices, Phones */
@media screen and (max-width: 480px) {
  html {
    font-size: 1rem;
  }

  .userAvatar {
    height: 2em;
  }

  .logoSVG {
    height: 2em;
    width: auto;
  }

  .userCard {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 2em;
    right: 0;
  }

  .siteLogo {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 2em;
    left: 0;
  }

  .dashTable {
    font-size: small;
  }
  .fullTable {
    font-size: small;
  }
  .deleteIcon {
    display: none;
  }
}

/* Small Devices, Tablets */
@media screen and (min-width: 768px) {
  html {
    font-size: 1rem;
  }

  .userCard {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 2em;
    right: 1em;
  }

  .siteLogo {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 2em;
    left: 1em;
  }

  .userAvatar {
    height: 2em;
    width: auto;
    margin: auto;
  }
  .logoSVG {
    height: 2em;
    width: auto;
    margin: auto;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  html {
    font-size: 1rem;
  }
}
