.titleBar {
  background-color: rgb(120, 192, 120);
  height: 10vh;
  color: #6d5050;
}

.jumbotron {
  text-align: center;
  margin-top: 10%;
  color: #6d5050;
}

.titleIcon {
  color: #d0021b;
  margin: auto;
}

.formContainer {
  margin-top: 5%;
}

.mainNav {
  margin-top: 1em;
  margin-bottom: 2em;
}

a {
  text-decoration: none;
  color: #d0021b;
}

.selected {
  font-weight: bold;
}

.underline {
  border-bottom: solid 1px lightgray;
}

.addForm {
  margin: auto;
  background-color: #efefef;
  border: solid 1px #cccaca;
  border-radius: 5%;
}

.formTitle {
  margin-top: 1em;
}

.formButton {
  margin-bottom: 1em;
}

.siteText {
  color: #6d5050;
}
